#filter-add{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
button{
  margin: 3px;
}
